<header>
	<nav>
		<ul class="menu menu_style_light">
			<li class="menu__item">
				<a class="menu__link" href="custom-controls.html">
					Простые компоненты		
				</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="advanced-controls.html">
					Сложные компоненты	
				</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">
					Составные компоненты	
				</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">
					Элемент меню 1		
				</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">
					Элемент меню 1		
				</a>
			</li>
		</ul>
	</nav>
</header>