@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
@import '_mixins.scss';
@import '_functions.scss';
@import '_variables.scss';
@import '_grid.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans';
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 0.5rem;
}

h1, .h1 {
	font-size: 2.5rem
}

h2, .h2 {
	font-size: 2em;
}

h3, .h3 {
	font-size: 1.75rem;
}